<div class="message-input">
  <%= simple_form_for [@location, Message.new], remote: true do |f| %>
  <p class="emoji-picker-container">
    <%= f.text_area :content, data: {emojiable: true} %>
  </p>
<div class="links btn-right">

<button class="btn-1 btn-black btn-1-small" name="button" type="submit">Send</button>
</div>


  <% end %>
</div>