


<div class="message">
  <div class="message-user">
    <strong><%= message.user.first_name%> <%= message.user.last_name %>:</strong>
  </div>
  <div class="message-content">
    <%= content_with_emoji(message.content) %>
  </div>
</div>
