<div id="messages" class="messages">
  <div id="messages-table" class="messages-table">
    <% if @messages.any? %>


      <% @messages.each do |mes| %>
  <% if current_user.id == mes.user_id %>
      <div class="self-messages ">
      <%= render mes %>
    </div>
    <% else %>
      <div class="other-messages">
      <%= render mes %>
    </div>
<% end %>

<% end %>
    <% end %>

  </div>
</div>