<ul>
 <% if current_user.id = @location.id %>
<% @messages.each do |mes|%>
<% if User.find(mes.user_id).email != current_user.email %>
<% next if @user_email == User.find(mes.user_id).email %>
  <li>

<% if @location.user_id == current_user.id %>
    <%= link_to User.find(mes.user_id).email, location_user_message_path(location_id: @location.id,user_id: User.find(mes.user_id).id, id: @id)  %>

    <% @user_email = User.find(mes.user_id).email %>
  <% else %>

    <%= link_to User.find(mes.user_id).email, location_user_message_path(location_id: @location.id,user_id: @id, id: @id)  %>
    <% @user_email = User.find(mes.user_id).email %>

<% end %>
  </li>
  <% end %>
<% end %>
<%  end %>
</ul>





