// Define variables for your color scheme

// For example:
$red: #EF7078;
$blue: #5890DC;
$yellow: #FDB631;
$orange: #E67E22;
//green used on progress bar and booking index statuses(paid)
$green: #8CED88;
$gray: #555555;
$gray2: #DDDDDD;
$light-gray: #f7f9f9;
$brown: #50514f;

