.banner-location {
  height: 50vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}



div.location-info-row-1, .location-info {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.location-info {
  margin-top: 20px;
}

div.location-description, div.location-contact {
  background-color: $green;
  margin-right: 20px;
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 50px;
  }
}

div.location-price-hours, div.location-other-info {
  background-color: $blue;
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 130px;
    padding-bottom: 50px;
  }
}

div.location-description > p, div.location-description > h3, div.location-contact > p, div.location-contact > h3 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  margin-bottom: 0;
  color: $blue;
}


div.location-description > p {
  overflow-y: auto;
  max-height: 70%;
}
div.location-price-hours > p, div.location-price-hours > h3, div.location-other-info > p , div.location-other-info > h3 {
  padding-right: 20%;
  padding-left: 10%;
  padding-top: 3%;
  margin-bottom: 0;
  color: $green;
}


div.location-info-row-2 {
  height: 40vh;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  background-color: $brown ;
}

div.location-map {
  height:40vh;
}

strong {
  color: inherit !important;
}

div.features, div.booking-card {
  padding-top: 3%;
}

.features > h3, .booking-card > h3 {
  color: $light-gray;
}

div.features {
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: top;
    width: 100%;
    justify-content: left;
    flex-wrap: wrap;
}

div.features > i > p {
  padding-top: 25px;
}

div.features > i {
  text-align: center;
  width: 20%;
}


.info {

  width: 60vw;
  height: 20%;
  background-color:#f2e5d7;
}

.location-container {
  width: 50%;
  margin-right: 20px;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.location-container-2 {
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 100%
  }
}

.location-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    margin-top: 250px;
  }
}

.new-message-link, .chatroom-link {
  margin-top: 40%;
  color: $blue !important;

  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease;

  &:hover {
    transform: translateY(4px) !important;
    background-color: $brown;
    color: $green !important;
    transition: 0.5s ease;
    text-decoration: none
  }
}

.chatroom-link {
  padding: 5px 30px;
}

.booking-card {
  background-color: $brown;
  height: 50vh;
}

/* CAROUSEL */


#myCarousel, .carousel-inner {
  width: 100vw;
  height: 300px;
}



ol li:not(:last-child) {
  margin: 0 !important ;
}


.title-location-show {
  color: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.location-carousel {
  display: flex;
  justify-content: space-around;
}

div.booking-card {
  width: 40vw;
  margin-left: 20px;
}

.item {
  height: 50vh;
  background-size: cover;
  background-position: bottom;
}

.wrapper {
  display: flex;

}


div.sticky {
  position: sticky !important;
  top: 70px;
}

div.fix-search {
  position: fixed;
right: 17%;
top: 70px

}
