<div class="row">
	<div class="card">
			<div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path l.photo[0].path, height: 300, width: 400, crop: :fill %>')">
				<div class="card-description">
					<h3><%= l.name %></h3>
					<p>Street</p>
				</div>
			</div>
			<div class="card-footer">
				<div class="card-hours">
					<p>Opening Hours</p>
					<p class="hours"> 09:00 - 18:00</p>
				</div>
				<a href="#" class="btn-card">Discover</a>
			</div>
		</div>
	</div>


