<div class="card">
  <div class="card-body">
    <div class="card-description">
      <h3>LISBON</h3>
      <p>Street</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-hours">
      <p class="card-hours-text">Opening Hours</p>
    </div>
    <a href="#" class="btn-medium">Discover</a>

    </div>



  </div>
</div>
