<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

      <div class="row" style="margin-bottom:50px;">

        <div class="flip">
        <div class="card">
          <div class="face front">

            <div class="panel panel-default">

              <form class="form-horizontal">

                <br>

                <h1 class="text-center">SIGN IN</h1>

                <br>

                <input class="form-control" placeholder="Username"/>
                <input class="form-control" placeholder="Password"/>
                <p class="text-right"><a href="">Forgot Password</a></p>
                <button class="btn-modal btn-primary btn-block">LOG IN</button>
                <hr>
                <p class="blue">Sign in with</p>

                <p><i class="fa fa-facebook-f fa-lg"></i><i class="fa fa-twitter fa-lg"></i></p>

                <hr>
                <p class="text-center">
                  <div class="fliper-btn">Create new account?</div>
                </p>
              </form>

            </div>


          </div>
          <div class="face back">


              <div class="panel panel-default">

              <form class="form-horizontal">

                <br>

                <h1 class="text-center">SIGN UP</h1>

                <br>
                <label>Basic Information</label>
                <input class="form-control" placeholder="Fullname"/>
                <input class="form-control" placeholder="Email"/>
                <label>Private Information</label>
                <input class="form-control" placeholder="Password"/>
                <input class="form-control" placeholder="Mobile Number"/>
                <button class="btn btn-primary btn-block">SIGN UP</button>


                <p class="text-center">
                  <div class="fliper-btn">Already have an account?</div>
                </p>

              </form>

            </div>




          </div>
        </div>
      </div>
      </div>
</div>
</div>
