<%= form_for [@conversation, @conversation.private_messages.new], remote: true do |f| %>
  <div class="private-message-field">
    <%= f.text_area :body, placeholder: "Your message" %>
  </div>

        <button class="btn-1 btn-black btn-1-small" name="button" type="submit">Send</button>
<% end %>
