.banner-location {
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-location-show {
  color: white
}

div.location-info-row-1, .location-booking-info {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.location-booking-info {
  margin-top: 20px;
}

div.location-description, div.location-booking {
  background-color: #673c4f;
  margin-right: 20px;
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 50px;
  }
}

div.location-price-hours, div.location-other-info {
  background-color: #f2e5d7;
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 130px;
    padding-bottom: 50px;
  }
}

div.location-description > p, div.location-description > h3, div.location-booking > p, div.location-booking > h3 {
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 3%;
  margin-bottom: 0;
  color: #f2e5d7;
}

div.location-description > p {
  overflow-y: auto;
  max-height: 70%;
}
div.location-price-hours > p, div.location-price-hours > h3, div.location-other-info > p , div.location-other-info > h3 {
  padding-right: 20%;
  padding-left: 10%;
  padding-top: 3%;
  margin-bottom: 0;
  color: #673c4f;
}


div.location-info-row-2 {
  height: 40vh;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  background-color: lightgrey;
}

div.location-map {
  height:40vh;
}

strong {
  color: inherit !important;
}

div.features {
  padding-top: 3%;
}


.info {

  width: 60vw;
  height: 20%;
  background-color:#f2e5d7;
}

.location-container {
  width: 50%;
  margin-right: 20px;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.location-container-2 {
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 100%
  }
}

.location-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    margin-top: 250px;
}
}
