div.private-message-page {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

div.private-message-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70%;


}

div.private-user-info {
  margin-left: 50px;
  padding: 15px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  // box-shadow: 10px 0px 5px rgba(200,200,200,0.5)
}



div.private-message-wrapper {
  width: 70%;
  border-left: 1px solid rgba(200,200,200,0.5);
  height: 65vh;

}
#private_message_body {  //THIS IS FOR THE TEXT AREA
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}


ul.private-message-list {
  padding: 0px 20px;
  border-radius: 5px;
  // box-shadow: 0 -10px 35px lightgray;
  list-style: none;
  overflow-y: auto;
  height: 100%;
}


li.private-message-sender {
  // background-color: cornflowerblue;
  padding: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 40px;
  text-align: right;
  margin-top: 10px;
    i {
    border-right: 5px solid $yellow;
    padding-right: 10px;
  }

}

h4.private-message-author {
  padding-left: 10px;
}

li.private-message-receiver > p {
  text-align: left;
  width: 90%;
}

li.private-message-sender > p {
  text-align: right;
  width: 90%;
}

.conversation-user {
  border-left: 5px solid $red;
  padding-left: 10px;
  white-space: pre;
}


li.private-message-receiver {
  // background-color: pink;
  padding: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 40px;
  margin-top: 10px;
  width: 100%;
     h4 {
    border-left: 5px solid $red
  }
}


.private-message-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.private-message-avatar-lg {
  width: 80px;
  height: 80px;
}

li.private-message-sender > .private-message-avatar {
  position: relative;
}



//FORM
.new_private_message {
    display: flex;
    justify-content: center;
    align-items: center;

}

.private-message-field {
    width: 80%;
    textarea {
    margin-top: 10px;
    height: 50px;
  }
}

.send-private-message-btn {
  height: 50px;
  margin-left: 10px;
}
